@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* global.css or equivalent */
.overflow-hidden {
  overflow: hidden
}

@keyframes slide-down {
    from { opacity: 0; transform: translateY(-10px);}
    to { opacity: 1; transform: translateY(0);}
}
.animate-slide-down {
    animation: slide-down 0.2s ease;
}

body {
  background-color: #0f0f0f;
}